extends layout

block title
  | Shopping Cart

block content
  h1 Shopping Cart

  table
    thead
      tr
        th Item
        th Type
        th Quantity
        th Price
    tbody
      tr
        td Math Worksheet
        td Worksheet
        td 1
        td $5.00
      tr
        td History Essay Help
        td Essay
        td 2
        td $10.00
      tr
        td Science Lab Report
        td Lab Report
        td 1
        td $7.50

  h3 Total: $22.50

  p Example