extends layout

block title
  | Login

block content
  .signup-form
    h2(style="text-align: center; margin-bottom: 1.5rem;") Welcome Back
    
    form(action="/login", method="POST")
      input(type="text", name="username", placeholder="Username", required)
      input(type="password", name="password", placeholder="Password", required)
      button(type="submit") Log In
    
    .login-links(style="text-align: center; margin-top: 1.5rem;")
      p(style="margin-bottom: 0.5rem;")
        a(href="/forgot-password", style="color: #d4a574; text-decoration: none; font-size: 1rem;") Forgot Password?
      p
        a(href="/signup", style="color: #d4a574; text-decoration: none; font-size: 1rem; font-weight: 500;") Sign up
