extends layout

block title
  | My Profile

block content
  h1 User Profile

  .profile
    p
      strong Name:
      |  Jane Doe

    p
      strong Email:
      |  janedoe@example.com

    p
      strong Member Since:
      |  January 2026

    p
      strong Favorite Subject:
      |  Math

    p This is a mock profile page. User account functionality will be implemented in a future phase.