extends layout

block title
  | My Profile

block content
  h1 User Profile

  .form-container
    p
      strong Name:
      |  #{user.name}

    p
      strong Email:
      |  #{user.email}

    p
      strong Year:
      |  #{user.year}

    form(action="/logout", method="POST")
      button.btn-primary(type="submit") Log Out